@model IEnumerable<Client.Models.Team>

@{
    ViewData["Title"] = "Equipas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Equipas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Nova Equipa</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome da Equipa
            </th>
            <th>
                Ranking da Equipa
            </th>
            <th>
                Nacionalidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamRanking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamNationality)
            </td>
            <td>
                <a asp-action="Players" asp-route-id="@item.TeamId" class="btn btn-primary">Jogadores</a>
                <a asp-action="Edit" asp-route-id="@item.TeamId" class="btn btn-primary">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.TeamId" class="btn btn-danger">Eliminar</a>
                <a asp-action="Details" asp-route-id="@item.TeamId" class="btn btn-secondary">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
