@model IEnumerable<Client.Models.Event>

@{
    ViewData["Title"] = "Competições";
}

<h1>Competições</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Nova competição</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Data de Inicio
            </th>
            <th>
                Data de Fim
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfEnd)
                </td>
                <td>
                    <a class="btn btn-primary" onclick="VerifyGames(@item.EventId)" style="color:white">Jogos</a>
                    <a class="btn btn-primary" onclick="VerifyTeams(@item.EventId)" style="color:white">Equipas</a>
                    <a asp-action="Edit" asp-route-id="@item.EventId" class="btn btn-primary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.EventId" class="btn btn-danger">Eliminar</a>
                    <a asp-action="Details" asp-route-id="@item.EventId" class="btn btn-secondary">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>